@use '../../styles/variables' as v;

.title {
  font-size: 1.5rem;
  font-weight: 700;
  color: v.$color-gray-900;
}

.text {
  margin-top: 0.5rem;
  color: v.$color-gray-600;
}

.code {
  border-radius: v.$radius-sm;
  background-color: v.$color-gray-200;
  padding: 0.125rem 0.25rem;
  font-size: v.$font-size-sm;
}
